*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  } 
  /* Pjesa e fotografis e para */
.pjesa1{
    background-image: url(fotoHome.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
   
}



.pjesa1 h1{
    background-color: rgba(94, 128, 238, 0.74);
    color:  white;
    border: none;
    font-size: 40px;
    padding: 12px;
    border-radius: 15px;
    width: 40%;
    letter-spacing: 1px;
    text-align: center;
   
}
 .pjesa1 h1:hover{

    color: #111;
    background: #fff;
 }


 .PjesaLajmeve{
     width: 100%;
     height: 70vh;
     margin-top: 30px;
     
 }
 
 .Titulli1{
    width: 20%;
    margin-left: 4%;
    }


 .Titulli1 h2:hover{
    opacity: 0.7;
 }

.Titulli1  hr{
   background-color: red;
   width: 60%;
   height: 3px;
}



 .PjesaShendetesis{
    width: 100%;
    height: 72vh;
    margin-top: 30px;
 }

 .Titulli2{
   width: 20%;
   margin-left: 4%;
   }


.Titulli2 h2:hover{
   opacity: 0.7;
}

.Titulli2  hr{
  background-color: rgb(28, 25, 184);
  width: 70%;
  height: 3px;
}




 .PjesaSport{
    width: 100%;
    height: 70vh;
    margin-top: 30px;

 }

 .Titulli3{
   width: 20%;
   margin-left: 4%;
   }


.Titulli3 h2:hover{
   opacity: 0.7;
}

.Titulli3  hr{
  background-color: rgb(0, 255, 21);
  width: 46%;
  height: 3px;
}
.slajmet{
   width: 96%;
   margin: auto;
   display: grid;
   grid-gap: 25px;
   grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
   grid-auto-rows: 350px;
}
.slajmet img{
   width: 100%;
   margin: auto;
   height: 200px;
   object-fit:cover;
}
.slajmet> div{
   background-color: white;
  /* text-align: left; */
}
.slajmet p{
   width: 100%;
   margin: auto;
   padding-top: 7px;
   font-size: 15px;
   color: black;
}
.slajmet a:link{
   color: black;
   background-color: transparent;
   text-decoration: none;
}

.slajmet a:visited{
   text-decoration: none;
   color:rgb(29,29,85);
   background-color: transparent;
}
.slajmet a:hover{
  color:black;
  background-color: transparent;
  text-decoration: none;
} 
.slajmet a:active{
   color: black;
   background-color: transparent;
   text-decoration: none;
}
.slajmet h2{
   text-decoration: none;
   margin: auto;
   font-size: 20px;
   color: black;
   text-align: justify;
}
.lexomeshum p{
   text-decoration: none;
   background-color: black;
   color: white;
   padding-left: 2%;
}






 .PjesaMagazina{
    width: 100%;
    height: 70vh;
    margin-top: 30px;
 }


 .Titulli4{
   width: 20%;
   margin-left: 4%;
   }


.Titulli4 h2:hover{
   opacity: 0.7;
}

.Titulli4  hr{
  background-color: rgb(146, 0, 151);
  width: 60%;
  height: 3px;
}


.PjesaArgetim{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
 } 

  .Titulli5{
   width: 20%;
   margin-left: 4%;
   }


.Titulli5 h2:hover{
   opacity: 0.7;
}

.Titulli5  hr{
  background-color: rgb(204, 253, 28);
  width: 60%;
  height: 3px;
}


h2{
   font-family: Arial,Helvetica,freesans,sans-serif;
   font-size: 30px;
}
 
.hekja{
color:aqua;
}
.j5
{
   
  width: 500px; 
}
.b1, .b2,.b3,.b4,.b4,.b5
{
   font-size:130%;
   color: ffffff;
}



/**Pjesa e lajmeve ne home**/
/**paragrafi madhesia, vendosja ne te majt e teskstit **/
.lajme p{
   font-size: 15px;
   text-align: left;
}
/**Margjina, te**/
.lajme{
   float: left;
   width: 33.3%;
   max-width: 100%;
}
/**Gjersia e fotots**/
.lajme img{
     width: 90%;
     bottom: 15px;
}
/****/
.lajme h2{
     text-decoration: none;
     margin: auto;
     font-size: 20px;
     color: black;
     text-align: left;
}
/**Ngjyra e tekstit, hija, bakgrandi**/
.A p{
  color: black;
  text-shadow: 2px 2px 4px #000000;
  background-color: white;
  background-image: radial-gradient( white,whitesmoke, gray);
  background-attachment: fixed;
}
/** linku ne tabel, kur eshte aktiv, vizitohet etj**/
.lajme a:link {
     color: black;
     text-decoration: none;
}
   .lajme a:visited {
     color: rgb(29, 29, 85);
     text-decoration: none;
}
.lajme a:hover {
     color: black;
     text-decoration: none;
}
.lajme a:active {
     color: black;
     text-decoration: none;
}







   .titulliA{
      margin-top: 50px;
      text-align: center;
      border-radius: 15px;
    
    }


   .titulliA hr{
      width: 20%;
      margin-left: 40%;
      height: 4px;
      background-color: rgb(243, 22, 22);
      }

   .mySlides {display: none}
   img {vertical-align: middle;}
   
   /* Slideshow Permbajtja*/
   .slideshow-container {
    max-width: 65%;
    position: relative;
    margin-top: 30px;
    margin-left: 18%;
   }
   
   /* Prapa dhe para buttonat */
   .prapa, .para {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
   }
   
   /* Pozicionimi i "para" butoni ne te djatht*/
   .para {
    right: 0;
    border-radius: 3px 0 0 3px;
   }
   
   /* Hoveri i butonav prapa dhe para i cili o njejt  per dyt*/
   .prapa:hover, .para:hover {
    background-color: rgba(0,0,0,0.8);
   }
   
   
   
   /* Shfaqja e numrave (1/6 etj) */
   .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
   }
   
   /* Pikat posht figures */
   .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
   }
   
   .active, .dot:hover {
    background-color: #717171;
   }
   
   /* animacioni i Fade */
   .fade {
    animation-name: fade;
    animation-duration: 1.5s;
   }
   
   @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
   }
   
   @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
   }
   .article{
      width:50%;
      float:none;
      max-width: 60%;
   }
   .article p{
      font-size: 20px;
      text-align: left;

   }
   
   .article img{
      width: 90%;
      bottom: 15px;
      
 }
 #article_1{
    float:left;
    width:50%;
 }
 #article_2{
    float:right;
    width:50%;
 }
 
 .article h2{
   text-decoration: none;
   margin: auto;
   font-size: 18px;
   color: black;
}
