*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
}

#idh2{
    width: 90%;
    background-color: white;
    margin: auto;
    
}

.pjeset{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "p p p p1 p2"
    "p p p p3 p4";
    text-align: center;
}

.pjesa{
    grid-area: p;
    background-image: url(sfoto1.jpg);
    background-size: cover;
    background-position: center;
}
.pjesa a:link{
    text-decoration: none;
    text-align: left;
}

.pjesa p{
    margin-top: 484px;
   /* background-color: rgb(180,180,180);*/
    background-color: black;
    color: white;
  
}
.pjesa_1{
    grid-area: p1;
    background-color: gainsboro;
    margin: 1px;

}

.pjesa_1 a:link{
    text-decoration: none;
    color: hex #000033;
    text-align:left;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
}
.pjesa_1 a:active{
    color:unset;
}
.pjesa_1 a:hover{
    text-decoration: underline;
}
.pjesa a:visited{
    color: hex #000033;
}
.pjesa_2{
    grid-area: p2;
    background-color: gainsboro;
    margin: 1px;
}
.pjesa_2 a:link{
    text-decoration: none;
    color:hex #000033;
    text-align: left;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
  
}
.pjesa_2 a:hover{
    text-decoration: underline;
}

.pjesa_3{
    grid-area: p3;
    background-color: gainsboro;
    margin: 1px;
}
.pjesa_2 a:active{
    color:unset;
}
.pjesa_3 a:link{
    text-decoration: none;
    color: hex #000033;
    text-align:left;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;

}
.pjesa_3 a:hover{
    text-decoration: underline;
}
.pjesa_3 a:visited{
    color: hex #000033;
}
.pjesa_3 a:active{
    color:unset;
}


.pjesa_4{
    grid-area: p4;
    background-color: gainsboro;
    margin: 1px;
}
.pjesa_4 a{
    text-decoration: none;
    color: hex #000033;
    text-align:left;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
}
.pjesa_4 a:hover{
    text-decoration: underline;
}
.pjesa_4 a:active{
    color:unset;
}
/*.pjesa_4:hover{
    transform: rotateY(360deg);
    background-color: teal;
} */


.pjeset i{
    font-size: 100px;
    margin-top: 10px;
    color: #000000;
}

.pjeset p{
    font-size: 16px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    text-align: left;
}


.lajmet{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 320px;
    border-top:blue solid 2px;
}

.lajmet h4{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
} 
.lajmet img{
    width: 100%;
    /*margin: auto;*/
    height: 200px;
    object-fit: cover;
}
.lajmet> div{
    background-color: gainsboro;
    text-align: left;
}
.lajmet p{
    width: 90%;
    margin: auto;
    padding-top: 15px;
    font-size: 17px;
    font-weight: 750;
    color:navy;
    font-family: Arial, Helvetica, sans-serif;
}
.lajmet a:link{
    color:hex #000033;
    text-decoration: none;
    background-color: transparent;
}
.lajmet a :hover{
    text-decoration: underline;
    color: hex #000033;
}
.lajmet a:active{
    color: hex #000033;
    background-color: transparent;
}


/* pjesa e tabelave*/
.tabelat{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 300px;
    border-top:blue solid 2px;
}
th{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    color: navy;
    background-color: none;
    


}
td{
    text-align: left;
    padding-left: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    color:navy;
    margin: auto;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
    
}
tr:hover{
    background-color: #dddddd;
}

.tabelat> div{
    background-color: white;
    
    
}
.tabelat p{
    width: 90%;
    margin: auto;
    padding-top: 15px;
    font-size: 17px;

}
@media(max-width:1023px){
    
    .pjeset{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 350px 250px 250px;
        grid-template-areas: 
        "p p"
        "p1 p2 "
        "p3 p4";
    }
   
    
    .pjesa a:link{
        color: black;
        text-decoration: none;
        text-align: left;
    }
    .pjesa p{
        margin-top: 220px;
        margin-left: 25px;
        margin-right: 25px;
        background-color:black;
    }
    
}

@media(max-width:767px){
    .pjeset{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 250px 250px 250px 250px;
        grid-template-areas: 
        "p1"
        "p2"
        "p3"
        "p4 ";
    }
    
    
    
    .pjesa a:link{
        display: none;
    }
}